.u-section-1 .u-sheet-1 {
  min-height: 190px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 63px auto 71px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 271px;
}

.u-section-2 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 10px;
  margin-bottom: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 271px;
}

.u-section-3 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 271px;
}

.u-section-4 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-4 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 271px;
}

.u-section-5 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-5 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 271px;
}

.u-section-6 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-6 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 940px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 271px;
}

.u-section-7 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-7 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-7 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-7 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 940px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 271px;
}

.u-section-8 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-8 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-8 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-8 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 940px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 271px;
}

.u-section-9 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 10px;
  margin-bottom: 30px;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-9 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-9 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-9 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 271px;
}

.u-section-10 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-10 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-10 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    width: 940px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-10 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-1 {
    width: 340px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 271px;
}

.u-section-11 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-11 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-11 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-11 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-11 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-group-1 {
    width: 940px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-11 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-group-1 {
    width: 340px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 271px;
}

.u-section-12 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-12 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-12 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-12 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-12 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-group-1 {
    width: 940px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-12 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-12 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-group-1 {
    width: 340px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 271px;
}

.u-section-13 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-13 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-13 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-13 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-13 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-group-1 {
    width: 940px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-13 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-13 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-group-1 {
    width: 340px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 271px;
}

.u-section-14 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-14 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-14 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-14 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-14 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-group-1 {
    width: 940px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-14 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-14 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-group-1 {
    width: 340px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 271px;
}

.u-section-15 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-15 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-15 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-15 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-15 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-group-1 {
    width: 940px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-15 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-15 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-group-1 {
    width: 340px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 271px;
}

.u-section-16 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-16 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-16 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-16 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-16 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-group-1 {
    width: 940px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-16 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-16 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-group-1 {
    width: 340px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-17 {
  background-image: none;
}

.u-section-17 .u-sheet-1 {
  min-height: 271px;
}

.u-section-17 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-17 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-17 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-17 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-17 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-group-1 {
    width: 940px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-17 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-17 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-group-1 {
    width: 340px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-18 {
  background-image: none;
}

.u-section-18 .u-sheet-1 {
  min-height: 271px;
}

.u-section-18 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-18 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-18 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-18 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-18 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-18 .u-group-1 {
    width: 940px;
  }

  .u-section-18 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-18 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-18 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-group-1 {
    width: 340px;
  }

  .u-section-18 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-19 {
  background-image: none;
}

.u-section-19 .u-sheet-1 {
  min-height: 271px;
}

.u-section-19 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 11px;
  margin-bottom: 29px;
  height: auto;
}

.u-section-19 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-19 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-19 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-19 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-19 .u-group-1 {
    height: auto;
  }

  .u-section-19 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-19 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-19 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-20 {
  background-image: none;
}

.u-section-20 .u-sheet-1 {
  min-height: 271px;
}

.u-section-20 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-20 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-20 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-20 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-20 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-20 .u-group-1 {
    width: 940px;
  }

  .u-section-20 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-20 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-20 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-group-1 {
    width: 340px;
  }

  .u-section-20 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-21 {
  background-image: none;
}

.u-section-21 .u-sheet-1 {
  min-height: 271px;
}

.u-section-21 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-21 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-21 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-21 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-21 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-21 .u-group-1 {
    width: 940px;
  }

  .u-section-21 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-21 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-21 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-group-1 {
    width: 340px;
  }

  .u-section-21 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-22 {
  background-image: none;
}

.u-section-22 .u-sheet-1 {
  min-height: 271px;
}

.u-section-22 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-22 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-22 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-22 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-22 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-22 .u-group-1 {
    width: 940px;
  }

  .u-section-22 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-22 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-22 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-group-1 {
    width: 340px;
  }

  .u-section-22 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-23 {
  background-image: none;
}

.u-section-23 .u-sheet-1 {
  min-height: 271px;
}

.u-section-23 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-23 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-23 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-23 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-23 .u-text-2 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-23 .u-group-1 {
    width: 940px;
  }

  .u-section-23 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-23 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-23 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-23 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-23 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-group-1 {
    width: 340px;
  }

  .u-section-23 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-24 {
  background-image: none;
}

.u-section-24 .u-sheet-1 {
  min-height: 271px;
}

.u-section-24 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-24 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-24 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-24 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-24 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-24 .u-group-1 {
    width: 940px;
  }

  .u-section-24 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-24 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-24 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-24 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-24 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-group-1 {
    width: 340px;
  }

  .u-section-24 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-25 {
  background-image: none;
}

.u-section-25 .u-sheet-1 {
  min-height: 271px;
}

.u-section-25 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-25 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-25 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-25 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-25 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-25 .u-group-1 {
    width: 940px;
  }

  .u-section-25 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-25 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-25 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-25 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-25 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-25 .u-group-1 {
    width: 340px;
  }

  .u-section-25 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-26 {
  background-image: none;
}

.u-section-26 .u-sheet-1 {
  min-height: 271px;
}

.u-section-26 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-26 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-26 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-26 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-26 .u-text-2 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-26 .u-group-1 {
    width: 940px;
  }

  .u-section-26 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-26 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-26 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-26 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-26 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-26 .u-group-1 {
    width: 340px;
  }

  .u-section-26 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-27 {
  background-image: none;
}

.u-section-27 .u-sheet-1 {
  min-height: 271px;
}

.u-section-27 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-27 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-27 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-27 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-27 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-27 .u-group-1 {
    width: 940px;
  }

  .u-section-27 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-27 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-27 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-27 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-27 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-27 .u-group-1 {
    width: 340px;
  }

  .u-section-27 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-28 {
  background-image: none;
}

.u-section-28 .u-sheet-1 {
  min-height: 271px;
}

.u-section-28 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-28 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-28 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-28 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-28 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-28 .u-group-1 {
    width: 940px;
  }

  .u-section-28 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-28 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-28 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-28 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-28 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-28 .u-group-1 {
    width: 340px;
  }

  .u-section-28 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-29 {
  background-image: none;
}

.u-section-29 .u-sheet-1 {
  min-height: 271px;
}

.u-section-29 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1140px;
  margin: 10px auto 30px;
}

.u-section-29 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-29 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-29 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-29 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-29 .u-group-1 {
    width: 940px;
  }

  .u-section-29 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-29 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-29 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-29 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-29 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-29 .u-group-1 {
    width: 340px;
  }

  .u-section-29 .u-container-layout-1 {
    padding-right: 16px;
  }
}.u-section-30 {
  background-image: none;
}

.u-section-30 .u-sheet-1 {
  min-height: 271px;
}

.u-section-30 .u-group-1 {
  min-height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 10px;
  margin-bottom: 30px;
}

.u-section-30 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-30 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 11px auto 0 0;
}

.u-section-30 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-30 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-30 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-30 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-30 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-30 .u-container-layout-1 {
    padding-right: 16px;
  }
}